station.app=dlssjk_gzz
remote.servlet=remote

#Hessian服务URI
hessian.service.Station=/station
hessian.service.Area=/area
hessian.service.Monitor=/monitor
hessian.service.Point=/point
hessian.service.Task=/task
hessian.service.TaskLog=/taskLog
hessian.service.TaskPointLog=/taskPointLog
hessian.service.TaskAreaLog=/taskAreaLog
hessian.service.Alarm=/alarm